 *{
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100%;
  height: 100%;
}
.search-area{
  background-image:url("images/background.webp");
  width: 100%;
  height: 300px;
  background-size: 100% 100%;
  position: relative;
  z-index: 10;
}
.black{
  background-color: rgba(0, 0, 0, 0.312);
  position: absolute;
  width: 100%;
  height: 100%;

}
.content{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 5;
  gap: 15px;
}
.content h1{
  color: white;
  font-size: 4vw;
  
  /* font-family: "Playwrite HR Lijeva", cursive; */
  font-family: "Delius Unicase", cursive;

}
.content p{
  color: white;
  font-size: 1.5vw;
  /* font-family: "Moon Dance", cursive; */
  /* font-family: "Playwrite HR Lijeva", cursive; */
  font-family: "Delius Unicase", cursive;
}
.search-box{
  width: 40%;
  height: 17%;
  background-color: white;
  border-radius: 30px;
  overflow: hidden;
display: flex;
  
}
.search-box input{
  width: 80%;
  height: 100%;
  border: none;
  outline: none;
  padding-left: 20px ;
  font-size: 1vw;
  
}
.btn{
  width: 20%;
  height: 100%;
 
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 20px;
}
.btn button{
  width: 37px;
  height: 37px;
  border-radius: 20px;
  background-color: rgba(17,65,52,1);
  border: none;
  color: white;
  cursor: pointer;
  transition: all 0.4s;
}
.btn button:hover{
  background-color: rgb(7, 34, 27);

}


.image-gallery{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.image-gallery .images{
  columns: 3 340px;
  gap: 10px;
  margin-top: 25px;
  /* margin-left: 20px; */
 
  max-width: 95%;
}

.images .card{
  position: relative;
  list-style: none;
  margin-bottom: 14px;
  border-radius: 10px;
  display: flex;
  overflow: hidden;
  cursor: pointer;
 
}
.photo{
  width: 100%;
  height: 100%;
}
.image-gallery .load-more{
  outline: none;
  padding: 12px;
  border: none;
  cursor: pointer;
  border-radius: 12px;
  margin-bottom: 30px;
  font-size: 15px;
  transition: all 0.4s;
  display: none;
}
.load-more:hover{
  background-color: rgba(210, 204, 204, 0.914);
}
.images .details{
  position: absolute;
  bottom: -100px;
  /* bottom: 0; */
  font-size: 15px;
  display: flex;
  color: white;
  width: 100%;
  /* height: 20%; */
  justify-content: space-between;
  align-items: center;
  transition: bottom 0.2s ease;
  /* margin-bottom: 12px; */
  padding: 20px;
  background: linear-gradient(to top,black,transparent);
}
.details .photographer{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

 .images .card:hover .details{
  bottom: 0; 
  
} 
 .download{
  background: rgb(11, 81, 71);
  /* padding: 2px; */
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.4s;
  
 }

 .download:hover{
  background-color: rgb(7, 52, 46);
}
.lightbox{
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.65);
  display: none;
  z-index: 1000;
}
.lightbox.show{
  display: block;
}
.preview-img{
  display: flex;
  justify-content: center;
  /* margin-top: 12px; */
}
.preview-img .pre-img{
  height: 614px;
  width: 450px;
}
.lightbox .wrapper{
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 10px;
  transform: translate(-50%,-50%);
  width: 100%;
  max-width: 850px;
  background: rgb(198, 190, 190);
  border-radius: 5px;

}
.wrapper .preview-img .img{
  max-height: 90vh;
  max-width: 90vw;
}
.wrapper header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .photographer{
  display: flex;
  gap: 10px;
  align-items: center;
  /* font-size: 1.5rem; */
}
header .photographer span{
  
  font-size: 1.1rem;
}

.buttons img{
   margin-left: 10px;
   background: rgb(131, 129, 129);
}

.buttons img:hover{
  background-color: rgb(95, 92, 92);
}

@media (max-width:1230px) {
  .search-area{
    /* background-image:url("images/background.webp"); */
    width: 100%;
    height: 400px;
  }
  .content h1{
    /* color: white; */
    font-size: 6vw;
  }
  .content p{
    /* color: white; */
    font-size: 3.5vw;
  }
  .search-box{
    width: 60%;
    height: 14%;
  }
  .search-box input{
    font-size: 2.5vw;
    
  }
  .btn button{
    width: 43px;
    height: 43px;
    
  }
  .btn{
    width: 30%;
   
  }
}